{% extends 'estrutura/baserodape.html' %}
{% load static %}

{% block conteudo %}
  <main class="main">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="card">
            <div class="header">
              <a href="{% url 'shivazen:inicio' %}">
                <img src="{% static 'assents/LogoCompletaSemFundo.png' %}" alt="Shiva Zen" class="login-logo">
              </a>
              <h2 class="title">Recuperar senha</h2>
              <div class="cadastro-footer mt-4">
                <p>Preencha o campo abaixo e enviaremos instruções para você redefinir sua senha por e-mail ou sms.</a></p>
              </div>
            </div>
            
            <div class="login-body">
              <form id="login-form" method="POST">
                {% csrf_token %}
                <div class="mb-4">
                  <label for="login" class="form-label">E-mail ou CPF</label>
                  <input type="text" id="login" name="login" class="form-control" placeholder="Digite seu e-mail ou Celular" required>
                </div>
                
                <div class="d-grid gap-3">
                  <button type="submit" class="btn btn-primary">
                    Solicitar código
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}